{% extends "base.html" %}
{% block content %}
<h1>Boutique de cartes</h1>
<form action="buy" method="post">
    {% csrf_token %}
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h2>Le starteur</h2>
            </div>
            <div class="card-content">
                Ce pack contient :
                <p>3 cartes aléatoires</p>
            </div>
            <button type="submit" class="card-button" name="choice" value="choice1">50 pièces</button>
        </div>
        <div class="card">
            <div class="card-header">
                <h2>Le conquérant</h2>
            </div>
            <div class="card-content">
                Ce pack contient :
                <p>6 cartes aléatoires</p>
            </div>
            <button type="submit" class="card-button" name="choice" value="choice2">150 pièces</button>
        </div>
        <div class="card">
            <div class="card-header">
                <h2>L'invincible</h2>
            </div>
            <div class="card-content">
                Ce pack contient :
                <p>12 cartes aléatoires</p>
            </div>
            <button type="submit" class="card-button" name="choice" value="choice3">350 pièces</button>
        </div>
    </div>
</form>


<style>
    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    .card {
        margin: 30px;
        padding: 10px;
        background-color: #0984e3;
        color: #FFF;
        border-radius: 5px;
        min-width: 200px;
    }

    .card-header {
        padding-bottom: 5px;
    }

    .card-content {

    }

    .card-button {
        width: 100%;
    }
</style>
{% endblock %}