{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="panel panel-default" id="user-id" user-id="{{ other.id }}">
        <div class="panel-body">
            

            <div class="wrapper">

                <div class="">
                        {% if owner == False %}
                                {% if follows %}
                                    <button class="follow"
                                    data-follow="unfollow" data-user="{{ other.username }}"
                                    style="float: right;">Unfollow
                                    </button>
                                {% endif %}
                                {% if not follows %}
                                    <button class="ollow"
                                            data-follow="follow" data-user="{{ other.username }}"
                                            style="float: right;">Follow
                                    </button>
                                {% endif %}
                        {% endif %}
                </div>

                <div class="profile-info">   
        
                        <div class="profile-card-name">
                            <div>
                                @{{ other.username }}
                            </div>
                        </div>
            
                        <table class="follow-table">
                            <tr>
                                <td class="second-color followers-number">{{ followers.count }}</td>
                                <td class="second-color">{{ other.follow.count }}</td>
                            </tr>
                            <tr>
                                <th><a href="#follower-tab" data-toggle="tab" >Follower</a></th>
                                <th><a href="#following-tab" data-toggle="tab" >Following</a></th>
                            </tr>
                            
                        </table>
                </div>
            
            </div>
            

            {% if owner %}

            <div class="alert alert-success" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <strong>Success!</strong> <div class="message">You have been signed in successfully!</div> 
            </div>

            <form onsubmit="return false;" class="editform" method="post" role="form" action="#" data-toggle="validator"
                    enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" name="username"
                            value="{{ user.username }}"
                            placeholder="{{ user.username }}"
                            title="Please enter your username, only alphabet characters"
                            pattern="^([_A-z]){3,}$" maxlength="20" required>
                </div>
                <div class="form-group">
                    <input type="email" name="email" id="email"
                            value="{{ user.email }}"
                            placeholder="{{ user.email }}"
                            title="Please enter your email"
                            required>
                </div>
             
                <button type="submit" id="edit" username="{{ user.username }}">
                    Edit
                </button>

            </form>

            {% endif %}
        </div>
    </div>


    <script type="text/javascript" src="{% static 'js/follow.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/edit.js' %}"></script>

{% endblock content %}

