<!-- templates/home.html-->
{% extends 'base.html' %}


{% block content %}

<div class="wrapper">
    <h1>voir les forums</h1>


    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li
        {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}


    <table width="100%" border="1">
        <tr>
            <th scope="col">Status</th>
            <th scope="col">Forum</th>
            <th scope="col">Nbr de message</th>
        </tr>

        {% for forums in queryset %}
        <tr>
            {% if forums.lock == 1 %}
            <td style="color:red;">Ce forum est bloqué</td>
            {% else %}
            <td style="color:green;">Ce forum est ouvert</td>
            {% endif %}
            <td><a href="views/{{ forums.id }}" style="color:red;">{{ forums.title }}</a><br> {{ forums.description|safe
                }}
            </td>
            <td style="text-align:center"><b>{{ forums.getTopics|length }}</b></td>
        </tr>
        {% endfor %}

    </table>

</div>
{% endblock %}
