<!-- templates/home.html-->
{% extends 'base.html' %}


{% block content %}
    <h1>voir les forums</h1>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% for forums in queryset %}
        {% if forums.lock == 1 %}
            Ce forum est bloqué
        {% else %}
            Ce forum est ouvert
        {% endif %}
        <a href="views/{{ forums.id }}" style="color:red;">{{ forums.title }}</a><br>
        {{ forums.description|safe }}
        <td><b>{{ forums.getTopics|length }}</b></td>
        <hr>
    {% endfor %}
{% endblock %}

