<!-- templates/home.html-->
{% extends 'base.html' %}


{% block content %}
    <h1>Voir les messages</h1>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% for topics in topic_list %}
         <a href="javascript:history.go(-1)" style="color:red;">Retour en arrière</a>

        <h3>{{ topics.title|capfirst }}</h3>
        {{ topics.created_by }} {{ topics.description|safe }}<br>
        {{ topics.created_on }}
        <br><br>
        Il y a actuellement : <b>{{ topics.getAllComments|length }}</b> commentaires
        <br>
        <hr><br>
        {% for topices in topics.getAllComments %}
            {{ topices.commented_by }} {{ topices.comment }}<br>
            {{ topices.created_on }}<br>
            <hr>
        {% endfor %}
    {% endfor %}
    <br><br><br>

    {% for forum in forum_set %}
        {% if forum.lock == False or request.user.is_superuser %}
            <a href="/forum/comtopic/{{ id }}" style="color:red">Répondre</a>
        {% endif %}

         {% if request.user.is_superuser %}
            <a href="/forum/deltopic/{{ id }}" style="color:red">Supprimer le topic</a>
        {% endif %}
    {% endfor %}

{% endblock %}