<!-- templates/home.html-->
{% extends 'base.html' %}


{% block content %}
    <style>
        .twoSquares {
            display: flex;
            flex-wrap: wrap;
        }

        .displayCards {
            display: flex;
            flex-wrap: wrap;
            width: 65%;
            overflow: scroll;
            height: 750px;
        }

        .showDisplayCards {
            display: flex;
            flex-direction: column;
            width: 30%;
            overflow: scroll;
            height: 750px;
            background: #766255;
            margin-left: 15px;
        }

        .imgCards {
            flex: 1;
            cursor: pointer;
            color: #ae9b8a;
        }

        .txtCards {
            background: #ae9b8a;
            font-weight: bold;
            margin-top: 5px;
            padding: 5%;
            cursor: pointer;
        }

        .txtCards:hover {
            background: #f006;
            color: #fff;
        }

        .numberCards {
            text-align: center;
            font-weight: bold;
            font-size: 31px;
            background: #60605c;
            color: white;
            margin: 9px;
            padding: 10px;
        }

        .selected {
            opacity: 0.5;
        }


    </style>
    <h1>Créer mon deck</h1>



    <div class="form-group">
        {{ form.name }}
    </div>


    <button class="validate">Créer mon deck</button>

    <div class="form-group" style="display: none;">
        {{ form.user }}
    </div>

    <div class="twoSquares">
        <div class="displayCards"></div>

        <div class="showDisplayCards">
            <div class="numberCards">Cartes : 0 / 30</div>
            <div class="cards"></div>
        </div>
    </div>



    <script>
        $(document).ready(function () {
            const returnNumber = function (id, array) {
                return array[id];
            };

            const onDeleteCards = function (elementThis, titi) {
                let nbrElement = parseInt(elementThis.find('span').text());
                $('.txtCards').on('click', function () {
                    $(this).remove();
                    let ez = elementThis.attr('items-id');
                    let nbrsOfSelectedElement = returnNumber(ez, titi);
                    if (elementThis.attr("items-id") === $(this).attr('items-id')) {
                        nbrElement = nbrElement + 1;
                        elementThis.find('span').text(nbrElement);
                        if (nbrElement >= nbrsOfSelectedElement) {
                            $('div[items-id=' + elementThis.attr("items-id") + ']').removeClass('selected');
                            elementThis.find('span').text(nbrsOfSelectedElement);
                        }
                    }

                    let n = $(".txtCards").length;
                    $('.numberCards').html('Cartes : ' + n + ' / 30')
                });

            };

            $.ajax({
                url: "ajax_deck",
                type: "GET",
                success: function (json) {
                    let array = [];
                    const map = new Map();
                    for (let i = 0; i < json['data'].length; i++) {
                        const id = json['data'][i]['id'];
                        const name = json['data'][i]['name'];
                        const img = json['data'][i]['img'];


                        array.push({'id': id, 'name': name, 'img': img});


                        var titi = array.reduce(function (prev, cur) {
                            prev[cur.id] = (prev[cur.id] || 0) + 1;
                            return prev;
                        }, {});
                    }

                    for (var ze in array) {
                        const id = array[ze].id;
                        const name = array[ze].name;
                        const img = array[ze].img;


                        if (!map.has(id)) {
                            map.set(id);

                            $('.displayCards').append('<div class="imgCards" items-name="' + name + '" items-id="' + id + '"><img src="' + img + '"  width="200px"> x<span class="nbrElement">' + titi[id] + '</span></div>');
                        }
                    }

                    $('.imgCards').on('click', function () {
                        const n = $(".txtCards").length;
                        let le = 0;
                        le = n + 1
                        let nbrElement = parseInt($(this).find('span').text());

                        nbrElement = nbrElement - 1;
                        if (nbrElement === 0) {
                            $(this).addClass('selected');
                        }
                        if (nbrElement >= 0) {
                            $(this).find('span').text(nbrElement);
                            $('.numberCards').html('Cartes : ' + le + ' / 30');

                            $('.cards').append('<div class="txtCards" items-id="' + $(this).attr('items-id') + '">' + $(this).attr('items-name') + '</div>');
                        }

                        if (nbrElement < 0) {
                            return false;
                        }

                        onDeleteCards($(this), titi);
                    });


                    $('.validate').on('click', function (e) {
                        e.preventDefault();
                        const cards = [];
                        const countDivCards = parseInt($(".txtCards").length);

                        if (countDivCards !== 30) {
                            alert('ERROR 30 CARTES FRERES OBLIGER');
                        } else {

                            $('.txtCards').each(function () {
                                cards.push({"card_id": $(this).attr('items-id')})

                            });
                            $.ajax({
                                url: "ajax_createDeck",
                                type: "POST",
                                data: {
                                    'name': $('#id_name').val(),
                                    'cards[]': JSON.stringify(cards), // from form
                                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                                },
                                success: function (json) {
                                    console.log(json);

                                },
                            });

                        }

                    });


                },
            });


        })

    </script>
{% endblock %}

