<!-- templates/home.html-->
{% extends 'base.html' %}


{% block content %}
    <style>
        .twoSquares {
            display: flex;
            flex-wrap: wrap;
        }

        .displayCards {
            display: flex;
            flex-wrap: wrap;
            width: 65%;
            overflow: scroll;
            height: 750px;
        }

        .showDisplayCards {
            display: flex;
            flex-direction: column;
            width: 30%;
            overflow: scroll;
            height: 750px;
            background: #766255;
            margin-left: 15px;
        }

        .imgCards {
            flex: 1;
            cursor: pointer;
            color: #ae9b8a;
        }

        .txtCards {
            background: #ae9b8a;
            font-weight: bold;
            margin-top: 5px;
            padding: 5%;
            cursor: pointer;
        }

        .txtCards:hover {
            background: #f006;
            color: #fff;
        }

        .numberCards {
            text-align: center;
            font-weight: bold;
            font-size: 31px;
            background: #60605c;
            color: white;
            margin: 9px;
            padding: 10px;
        }

        .selected {
            opacity: 0.5;
        }


    </style>
    <div class="wrapper">
     <a href="{% url 'index_deck' %}" style="color:red;">Retour en arrière</a>
    <br><br>
    <h1>Editer mon deck</h1>

    <div class="messages"></div>
    <br><br>
     {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="form-group">
        {{ form.name }}
    </div>


    <button class="btn btn-primary validate">Edit mon deck</button>

    <div class="form-group" style="display: none;">
        {{ form.user }}
    </div>

    <div class="twoSquares">
        <div class="displayCards"></div>

        <div class="showDisplayCards">
            <div class="numberCards">Cartes : 0 / 30</div>
            <div class="cards"></div>
        </div>
    </div>


    </div>
    <script>
        $(document).ready(function () {
            const returnNumber = function (id, array) {
                return array[id];
            };
            const onDeleteCards = function (elementThis, titi, edit) {
                let nbrElement = parseInt(elementThis.find('span').text());
                $('.txtCards').on('click', function () {
                    if (edit === 1) {
                        let nbrElement = parseInt($('div.imgCards[items-id=' + $(this).attr("items-id") + ']').find('span').text());
                        let cards = parseInt($('div.imgCards[items-id=' + $(this).attr("items-id") + ']').attr('items-id'));
                        $(this).remove();
                        let ez = parseInt($(this).attr('items-id'));
                        let nbrsOfSelectedElement = returnNumber(ez, titi);
                        if (cards === ez) {
                            nbrElement = nbrElement + 1;
                            $('div.imgCards[items-id=' + $(this).attr("items-id") + ']').find('span').text(nbrElement);
                            if (nbrElement >= nbrsOfSelectedElement) {
                                $('div[items-id=' + $(this).attr("items-id") + ']').removeClass('selected');
                                $('div.imgCards[items-id=' + $(this).attr("items-id") + ']').find('span').text(nbrsOfSelectedElement);
                            }
                        }
                    }
                    $(this).remove();
                    if (elementThis.attr("items-id") === $(this).attr('items-id')) {
                        nbrElement = nbrElement + 1;
                        elementThis.find('span').text(nbrElement);
                        if (titi === 1) {
                            $('div[items-id=' + elementThis.attr("items-id") + ']').removeClass('selected');
                            elementThis.find('span').text(titi);
                        }
                    }
                    $.ajax({
                        url: '/deck/ajax_addCardUser/' + url,
                        type: "POST",
                        data: {
                            'addCardsId': parseInt($(this).attr('items-id')),
                            'csrfmiddlewaretoken': '{{ csrf_token }}',
                        },
                        success: function (json) {
                            console.log('ok')
                        },
                    });
                    let n = $(".txtCards").length;
                    $('.numberCards').html('Cartes : ' + n + ' / 30')
                });
            };
            const url = window.location.pathname.split('/')[3];
            let arrayEditCard = [];
            let array = [];
            $.ajax({
                url: '/deck/ajax_deck',
                type: "GET",
                success: function (json) {

                    const map = new Map();

                    for (let i = 0; i < json['data'].length; i++) {
                        const id = json['data'][i]['id'];
                        const name = json['data'][i]['name'];
                        const img = json['data'][i]['img'];

                        array.push({'id': id, 'name': name, 'img': img});


                        var titi1 = array.reduce(function (prev, cur) {
                            prev[cur.id] = (prev[cur.id] || 0) + 1;
                            return prev;
                        }, {});
                    }

                    for (var ze in array) {
                        const id = array[ze].id;
                        const name = array[ze].name;
                        const img = array[ze].img;

                        if (!map.has(id)) {
                            map.set(id);
                            $('.displayCards').append('<div class="imgCards" items-name="' + name + '" items-id="' + id + '"><img src="' + img + '"  width="200px"> x<span class="nbrElement">' + titi1[id] + '</span></div>');
                        }
                    }

                    $('.imgCards').on('click', function () {
                        const n = $(".txtCards").length;
                        let le = 0;
                        le = n + 1
                        let nbrElement = parseInt($(this).find('span').text());
                        let nbr2 = parseInt($('.txtCards[items-id="' + $(this).attr('items-id') + '"]').length);
                        nbrElement = nbrElement - 1;
                        if (nbrElement === 0) {
                            $(this).addClass('selected');
                        }
                        if (nbrElement >= 0) {
                            $(this).find('span').text(nbrElement);
                            $('.numberCards').html('Cartes : ' + le + ' / 30');

                            $('.cards').append('<div class="txtCards" items-id="' + $(this).attr('items-id') + '">' + $(this).attr('items-name') + '</div>');
                        }
                        if (nbrElement < 0) {
                            return false;
                        }

                        $.ajax({
                            url: '/deck/ajax_addCardDeck/' + url,
                            type: "POST",
                            data: {
                                'addCardsDeckId': parseInt($(this).attr('items-id')),
                                'csrfmiddlewaretoken': '{{ csrf_token }}',
                            },
                            success: function (json) {
                                console.log('ok')
                            },
                        });

                        onDeleteCards($(this), nbr2);
                    });
                    let merge = $.merge(array, arrayEditCard);
                    $.ajax({
                        url: '/deck/ajax_edit/' + url,
                        type: "GET",
                        success: function (json) {

                            for (let i = 0; i < json['data'].length; i++) {
                                const id = json['data'][i]['id'];
                                const name = json['data'][i]['name'];

                                array.push({'id': id, 'name': name});
                                arrayEditCard.push({'id': id, 'name': name});

                                var titi = merge.reduce(function (prev, cur) {
                                    prev[cur.id] = (prev[cur.id] || 0) + 1;
                                    return prev;
                                }, {});
                            }
                            for (var ze in arrayEditCard) {
                                const n = $(".txtCards").length;
                                let le = 0;
                                le = n + 1;
                                const id = arrayEditCard[ze].id;
                                const name = arrayEditCard[ze].name;
                                $('.cards').append('<div class="txtCards" items-id="' + id + '">' + name + '</div>');
                                $('.numberCards').html('Cartes : ' + le + ' / 30');
                            }

                            onDeleteCards($(this), titi, 1);
                        }
                    });

                    $('.validate').on('click', function (e) {
                        e.preventDefault();
                        const cards = [];
                        const countDivCards = parseInt($(".txtCards").length);


                            $('.txtCards').each(function () {
                                cards.push({"card_id": $(this).attr('items-id')})

                            });
                            const url = window.location.pathname.split('/')[3];
                            $.ajax({
                                url: '/deck/ajax_editDeck/' + url,
                                type: "POST",
                                data: {
                                    'name': $('#id_name').val(),
                                    'cards[]': JSON.stringify(cards),
                                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                                },
                                success: function (json) {
                                   $('.messages').append('Le deck à correctement été edité')
                                    setTimeout(function () {
                                        window.location.href = "/deck/index_deck";
                                    }, 2000);

                                },
                            });
                    });
                },
            });
        })
    </script>
{% endblock %}

