<!-- templates/home.html-->
{% extends 'base.html' %}


{% block content %}


<div class="wrapper">
    <h1>Voir mes decks créés</h1>


    <a class="btn btn-primary" href="{% url 'create' %}">Créer un nouveau deck</a>
    <br><br><br><br>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <br><br>
    {% for decks in getDecks %}
        <a href="view/{{ decks.id }}" style="color:black;">{{ decks }}</a> -
        <a class="btn btn-primary" href="edit/{{ decks.id }}">Editer</a> /
        <a class="btn btn-primary" href="deldeck/{{ decks.id }}" style="color:red;">Supprimer</a><br>
    {% endfor %}

</div>

{% endblock %}

